

.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  width: 80%; 
}

.cart-items {
  width: 60%; 
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.cart-item img {
  margin-right: 20px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.sku, .final-sale, .shipping-info, .price {
  margin-bottom: 10px;
}

.shipping-info {
  display: flex;
  align-items: center;
}

.shipping-info i {
  margin-right: 10px;
}

.delete-btn {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  align-self: flex-start;
}

.cart-summary {
  width: 35%; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: max-content; 
}

.cart-summary h2 {
  margin-bottom: 20px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.summary-item.total {
  font-weight: bold;
  font-size: 1.2em;
}

.btn-order {
  background-color: #333;
  color: #fff;
  padding: 10px;
  width: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn-order:hover {
  background-color: #000;
}


.success-message {
  color: green;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

