.product-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    width: 70%; 
    margin: 0 auto; 
}

.cate-product-item {
    border: none;
    text-align: left;
    width: 300px;
}

.cate-product-item img {
    width: 100%;
    height: 300px;
}

@media only screen and (max-width: 1024px) {
    .cate-product-item {
        margin-left: auto ;
        margin-right: auto;
        
    }
    
  }
  
  /* Mobile layout (for screens smaller than 768px) */
@media only screen and (max-width: 768px) {
    .cate-product-item {
        display: grid;
        grid-template-columns: auto;
    }
  }


