.home-image-container {
  text-align: center; 
  position: relative;
}

.home-image {
  width: 100%; 
  height: 630px; 
  object-fit: cover;
  padding: 30px 0px 50px 0px;
}

.home-image-2 {
  width: 100%;
  height: 750px; 
  object-fit: cover;
  padding: 0px 0px 50px 0px;
}

.home-image-3 {
  width: 100%; 
  height: 90%;
  object-fit: cover;
  padding: 0px 0px 10px 0px;
}

.home-image-text {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%); 
  color: white; 
  font-size: 50px;
  font-family: Sectra;
  font-weight: 500;
}

.home-image-text-2 {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 20px;
  font-family: Lineto Brown sub;
  font-weight: 300;
}

.home-image-text-3 {
  position: absolute; 
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 14px;
  font-family: Lineto Brown sub;
  font-weight: 300;
}

.home-image-text-3 button {
  background-color: transparent;
  color: white;
  backdrop-filter: blur(10px);
  padding: 16px 20px;
  margin-left: 20px;
  border: 1px solid white;
  cursor: pointer;
}

.lower-div {
  position: relative;
  top: 200px;
}

.home-image-text-4 {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: black; 
  font-size: 70px;
  font-family: GT-Sectra-Display-Regular;
  font-weight: 400;
}

.home-image-text-5 {
  position: absolute; 
  top: 60%;
  left: 50%;
  transform: translate(-50%, -70%); 
  color: white; 
  font-size: 14px;
  font-family: Lineto Brown sub;
  font-weight: 300;
}

.home-image-text-5 button {
  background-color: transparent;
  color: black;
  backdrop-filter: blur(10px);
  padding: 16px 20px;
  margin-left: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.div-h3 {
  padding: 30px 0px 30px 0px;
}

.home-image-text-6 {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%); 
  color: black; 
  font-size: 90px;
  font-family: Sectra;
  font-weight: 400;
}

.home-image-text-7 {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: black; 
  font-size: 20px;
  font-family: Lineto Brown sub;
  font-weight: 500;
}

.home-image-text-8 {
  position: absolute; 
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 14px;
  font-family: Lineto Brown sub;
  font-weight: 300;
}

.home-image-text-8 button {
  background-color: transparent;
  color: black;
  backdrop-filter: blur(10px);
  padding: 16px 20px;
  margin-left: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.home-image-text-9 {
  position: absolute; 
  top: 20%;
  left: 50%;
  transform: translate(-50%, 50%); 
  color: white; 
  font-size: 60px;
  font-family: Lineto Brown sub;
  font-weight: 300;
}

.home-image-text-10 {
  position: absolute; 
  top: 20%;
  left: 50%;
  transform: translate(-50%, 300%); 
  color: white; 
  font-size: 14px;
  font-family: Lineto Brown sub;
  font-weight: 300;
}

.home-image-text-10 button {
  background-color: transparent;
  color: white;
  backdrop-filter: blur(10px);
  padding: 16px 20px;
  margin-left: 20px;
  border: 1px solid white;
  cursor: pointer;
}
