.login{
  margin: 0 auto;
  color: white;
}
.login td{

  padding: 5px;
}
.login a{
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 14px;
}
.login input{
  width: 100%;
  padding: 10px 16px;
  border: none;
}
.btn-login input{
  background-color: #000000d0;
  border: none;
  cursor: pointer;
  color: white;
}