.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff; 
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul li {
  list-style-type: none;
}

.nav ul li a {
  text-decoration: none;
}

.navbar-center h1 {
  color: white;
  font-size: 30px;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left .search-bar {
  width: 200px; 
  padding: 5px;
  border: 1px solid #ccc;
}
.search-button{
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
}
.navbar-left {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-right a {
  text-decoration: none;
  color: #333;
}

.navbar-right .cart-icon {
  font-size: 20px;
}

.navbar-right .heart-icon {
  font-size: 20px;
}

.navbar-right .account-icon {
  font-size: 20px;
}

li a,
.dropbtn {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #000;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-center img {
  width: 100px;
  margin-right: 180px;
}
