.pm-product-menu-wrapper {
    position: relative;
}

.pm-sort-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}

.pm-product-menu-container {
    display: flex;
    align-items: flex-start;
}

.pm-filter-container {
    width: 250px;
    padding: 20px;
    margin-right: 20px; 
}

.pm-product-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px;
}

.pm-product-item {
    border: none;
    padding: 10px;
    text-align: left;
    transition: transform 0.3s;
}

.pm-product-item img {
    width: 300px;
    height: 300px;
}
